img {
  height: 5rem;
}

div {
  font-weight: 600;
  color: #fff;
  text-align: left;
  
  span {
    display: block;
    font-size: 1.4rem;
  }

  a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
  }
}