* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: url('../assets/background-mobile.jpg') no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

button {
  transition: filter .2s;
  cursor: pointer;

  &:hover {
    filter: brightness(.9);
  }
}