form {
  margin: auto;
  width: 100%;

  input {
    padding: 1.3rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #363443;
    background: transparent;
    border: 0;
    border-bottom: .5rem solid #363443;
    width: 100%;
    outline: none;
    
    &.erro {
      border-bottom-color: #FF2358;
    }

    &:focus {
      border-bottom: .5rem solid #15F7D9;
      color: #15F7D9;
    }
  }

  p {
    margin-top: 1.3rem;
    font-size: 1.4rem;
    color: #FF2358;
  }

  > button {
    margin: 5rem 0 2rem;
  }
}