.skills-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

footer.skills-modal {
  width: 100%;
  background: #201F26;
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;

  position: absolute;
  bottom: 0;

  transition: bottom .3s;

  span {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #777584;
  }

  &.skills {
    background: linear-gradient(to right, #ffda15, #ffa115);
    justify-content: space-between;
    
    span {
      color: #000;
      font-size: 1.2rem;
      font-weight: 600;
      
      display: flex;
      justify-content: space-between;

      strong {
        font-weight: 700;
        text-transform: uppercase;

        img {
          height: 1.2rem;
          margin-left: .5rem;
        }
      }
    }
  }

  &.modal-actived {
    bottom: 10rem;
  }
}